<?xml version="1.0" encoding="utf-8"?>
<manifest package="ap.arabiclearning"

    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission  android:name="android.permission.INTERNET"/>
    <application
        android:name=".ArabicLearningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="arabiclearning"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity

            android:name=".SplashScreen" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="MyActivity"></activity>
        <activity android:name="lessons_category"></activity>
        <activity android:name="alphabetlist"></activity>
        <activity android:name="writinglist"></activity>
        <activity android:name=".vowellist"></activity>
        <activity android:name=".numberlist"></activity>
        <activity android:name="ListActivity"></activity>
        <activity android:name=".quizlist"></activity>
        <activity android:name=".quizfrom"></activity>
        <activity android:name=".history" />
        <activity android:name=".pagemyscore" />
        <activity android:name=".menuquiz"></activity>
        <activity android:name=".FormActivity" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".alphabetvdo1"
            android:screenOrientation="portrait" />
        <activity android:name=".alphabetvdo2"
            android:screenOrientation="portrait" />
        <activity android:name=".alphabetvdo3"
            android:screenOrientation="portrait" />
        <activity android:name=".writingvdo1"
            android:screenOrientation="portrait" />
        <activity android:name=".writingvdo2"
            android:screenOrientation="portrait" />
        <activity android:name=".writingvdo3"
            android:screenOrientation="portrait" />
        <activity android:name=".writingvdo4"
            android:screenOrientation="portrait" />
        <activity android:name=".writingvdo5"
            android:screenOrientation="portrait" />
        <activity android:name=".vowelvdo1"
            android:screenOrientation="portrait" />
        <activity android:name=".vowelvdo2"
            android:screenOrientation="portrait" />
        <activity android:name=".vowelvdo3"
            android:screenOrientation="portrait" />
        <activity android:name=".numbervdo1"
            android:screenOrientation="portrait" />
        <activity android:name=".numbervdo2"
            android:screenOrientation="portrait" />
        <activity android:name=".numbervdo3"
            android:screenOrientation="portrait" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <meta-data android:name="AA_DB_NAME" android:value="MyNote.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS" android:value="ap.arabiclearning.Note" />
    </application>

</manifest>
